################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ObornaPrax/FileContentIndex
/.vs/ObornaPrax/FileContentIndex/5656341d-242b-4312-af8c-7b029a52c3ea.vsidx
/.vs/ObornaPrax/v17
/.vs/ObornaPrax/v17/.wsuo
/.vs/ObornaPrax/v17/DocumentLayout.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/team1/Team1/.vs/Team1/FileContentIndex/7b3321ab-b5f1-43e1-997c-fd91c3118ab2.vsidx
